absl-py==2.1.0
accelerate==0.21.0
aiohttp==3.9.3
aiohttp-cors==0.7.0
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appnope==0.1.4
archspec==0.2.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
autogluon==0.3.1
Babel==2.14.0
backoff==2.2.1
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.1.0
blessed==1.19.1
blinker==1.8.2
blis==0.7.10
boltons==23.1.1
boto3==1.34.64
botocore==1.34.64
Brotli==1.1.0
build==0.10.0
CacheControl==0.12.14
cached-property==1.5.2
cachetools==5.5.0
catalogue==2.0.10
catboost==1.2.3
certifi==2024.8.30
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmdstanpy==1.2.2
colorama==0.4.6
colorful==0.5.6
comm==0.2.2
conda==23.10.0
conda-libmamba-solver==23.12.0
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
confection==0.1.4
contourpy==1.2.0
convertdate==2.4.0
cookiecutter==2.6.0
crashtest==0.4.1
croniter==1.4.1
cryptography==43.0.1
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
cytoolz==0.12.3
dask==2024.3.1
dataclasses==0.8
datasets==2.18.0
dateutils==0.6.12
debugpy==1.8.1
decorator==5.1.1
deepdiff==6.7.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
distro==1.9.0
dulwich==0.21.7
entrypoints==0.4
ephem==4.1.5
et-xmlfile==1.1.0
evaluate==0.4.1
exceptiongroup==1.2.0
executing==2.0.1
fastai==2.7.14
fastapi==0.110.0
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.19.1
fastprogress==1.0.3
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
gast==0.5.5
gdown==5.1.0
gitdb==4.0.11
GitPython==3.1.43
gluonts==0.14.3
gmpy2==2.1.2
google-api-core==2.19.2
google-auth==2.35.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
graphviz==0.20.1
grpcio==1.62.2
h11==0.14.0
h2==4.1.0
h5py==3.11.0
holidays==0.48
hpack==4.0.0
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
huggingface_hub==0.21.4
hyperframe==6.0.1
hyperopt==0.2.7
idna==3.6
imagecodecs==2024.1.1
imageio==2.34.0
importlib_metadata==7.0.2
importlib_resources==6.3.0
inquirer==3.1.4
installer==0.7.0
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.3.1
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.22
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter_client==8.6.1
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.6.3
jupyter-lsp==2.2.4
jupyter_server==2.10.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.24.0
jupyterlab_widgets==3.0.10
keras==3.5.0
keyring==23.13.1
kiwisolver==1.4.5
langcodes==3.3.0
libmambapy==1.5.3
lightgbm==4.1.0
lightning==2.3.3
lightning_cloud==0.5.64
lightning-utilities==0.10.1
llvmlite==0.42.0
locket==1.0.0
lockfile==0.12.2
LunarCalendar==0.0.9
mamba==1.5.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
memray==1.13.4
menuinst==2.0.2
mistune==3.0.2
ml-dtypes==0.3.2
mlforecast==0.10.0
model-index==0.1.11
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.10
namex==0.0.8
narwhals==1.9.0
nbclient==0.10.0
nbconvert==7.16.2
nbformat==5.10.3
nest_asyncio==1.6.0
networkx==3.2.1
nfoursid==1.0.1
nlpaug==1.1.11
nltk==3.8.1
notebook==7.1.2
notebook_shim==0.2.4
nptyping==2.4.1
numba==0.59.0
numpy==1.26.4
omegaconf==2.3.0
opencensus==0.11.3
opencensus-context==0.1.3
openmim==0.3.7
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.12.1
ordered-set==4.1.0
orjson==3.9.15
overrides==7.7.0
packaging==24.0
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.1
pathy==0.10.3
patsy==0.5.6
pdf2image==1.17.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pip==24.2
pkginfo==1.10.0
pkgutil_resolve_name==1.3.10
platformdirs==2.6.2
plotly==5.19.0
pluggy==1.4.0
pmdarima==2.0.4
poetry==1.4.2
poetry-core==1.5.2
poetry-plugin-export==1.3.1
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.42
prophet==1.1.4
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat==0.6.6
pycparser==2.21
pydantic==1.10.17
pydantic_core==2.4.0
pydeck==0.9.1
Pygments==2.17.2
PyJWT==2.8.0
PyMeeus==0.5.12
pyobjc-core==10.2
pyobjc-framework-Cocoa==10.2
pyod==2.0.2
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyproject_hooks==1.0.0
pyrsistent==0.20.0
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.9.0
python-editor==1.0.4
python-json-logger==2.0.7
python-multipart==0.0.9
python-slugify==8.0.4
pytorch-lightning==2.3.3
pytorch-metric-learning==1.7.3
pytz==2024.1
pyu2f==0.1.5
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rapidfuzz==3.6.2
ray==2.31.0
readchar==4.0.5.dev0
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
requests-toolbelt==0.10.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
sacremoses==0.0.53
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==1.4.1.post1
scipy==1.12.0
Send2Trash==1.8.2
sentencepiece==0.2.0
seqeval==1.2.2
setproctitle==1.3.3
setuptools==69.2.0
shap==0.45.1
shellingham==1.5.4
six==1.16.0
slicer==0.0.8
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.2
stanio==0.5.0
starlette==0.36.3
starsessions==1.3.0
statsforecast==1.4.0
statsmodels==0.14.1
streamlit==1.38.0
sympy==1.12
tabulate==0.9.0
tbats==1.1.3
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.0
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow_estimator==2.15.0
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
textual==0.78.0
thinc==8.2.2
threadpoolctl==3.3.0
tifffile==2024.2.12
timm==0.9.16
tinycss2==1.2.1
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
toolz==0.12.1
torch==2.1.2.post4
torchmetrics==1.2.1
torchvision==0.16.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
transformers==4.38.2
trove-classifiers==2024.3.3
truststore==0.8.0
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.10.0
typing-utils==0.1.0
typish==1.9.3
tzdata==2024.1
u8darts==0.30.0
ujson==5.9.0
unicodedata2==15.1.0
uri-template==1.3.0
urllib3==1.26.19
utilsforecast==0.0.10
uvicorn==0.28.0
virtualenv==20.21.0
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
wheel==0.42.0
widgetsnbextension==4.0.10
window_ops==0.0.15
wrapt==1.16.0
xarray==2024.9.0
xattr==0.10.1
xgboost==1.7.6
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
zstandard==0.23.0
